<!DOCTYPE html>
<html lang="en" xml:lang="en">
<head>
    <title>Video Stream</title>
    <script type="text/javascript">
        function startStreaming() {
            document.getElementById('stream').style.display = 'block'; // Show the video element
        }

        function stopStreaming() {
            document.getElementById('stream').style.display = 'none'; // Hide the video element
        }
    </script>
</head>
<body>

<h1>Live Video Stream</h1>

<!-- Video Stream -->
<img id="stream" src="{{ request.url_for('video_feed') }}?{{ cache_buster }}" alt="Video Stream" style="display:none;">

<!-- Control Buttons -->
<button onclick="startStreaming()">Start Streaming</button>
<button onclick="stopStreaming()">Stop Streaming</button>

</body>
</html>
